{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/css/lightgallery.min.css">
{% endblock styles %}

{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/js/lightgallery.min.js"></script>
{% endblock libs %}

{% block scripts %}
    {{ super() }}
    <script src="{{ base_url }}/js/loadelements.js" defer></script>
{% endblock scripts %}

{% block announce %}
    {{ super() }}
    <img style='vertical-align:middle;' src='/rcsupportdocs/img/Infobox_info_icon.svg' width="20">
    <div style='vertical-align:middle; display:inline;'>
        RC Maintenance Outage scheduled for 3/7/22 - 3/11/22, for more information: <a href="https://rc.duke.edu/dcc-changes/">https://rc.duke.edu/dcc-changes/</a>
    </div>
{% endblock %}
